In [19]:
# 1. Write a Python program to convert kilometers to miles?

In [20]:
a = float(input("Distance in km ="))
print("Distance in miles =", round(a/1.60934,2))

Distance in km =250
Distance in miles = 155.34

In [21]:
#2. Write a Python program to convert Celsius to Fahrenheit?

In [22]:
a = float(input("Temperature in Celsius :"))
print("Temperature in Fahrenheit :", round(a*9/5+32,1))

Temperature in Celsius :50
Temperature in Fahrenheit : 122.0

In [23]:
#3. Write a Python program to display calendar.#To display a month calendarimport calendar

In [24]:
#To display a month of a year in calendar
import calendar
YYYY = int(input("Enter the year in yyyy format :"))
MM = int(input("Enter the month in mm format :"))
print(calendar.month(YYYY, MM))

#To display a year calendar
import calendar
YYYY = int(input("Enter the year in yyyy format :"))
print(calendar.calendar(YYYY))

Enter the year in yyyy format :2020
Enter the month in mm format :1
    January 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

Enter the year in yyyy format :2020
                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [25]:
#4. Write a Python program to solve quadratic equation.

In [26]:
# import complex math module
import cmath

a = 10
b = 20
c = 30

# calculating the discriminant
dis = (b**2) - (4 * a*c)

# find two results
ans1 = (-b-cmath.sqrt(dis))/(2 * a)
ans2 = (-b + cmath.sqrt(dis))/(2 * a)

# printing the results
print('The roots are')
print(ans1)
print(ans2)

The roots are
(-1-1.4142135623730951j)
(-1+1.4142135623730951j)

In [27]:
#5. Write a Python program to swap two variables without temp variable.a = 100

In [28]:
b = 205
print("Value of 'a' before swap =", a)
print("Value of 'b' before swap =", b)
a, b = b, a
print("Value of 'a' after swap =", a)
print("Value of 'b' after swap =", b)

Value of 'a' before swap = 10
Value of 'b' before swap = 205
Value of 'a' after swap = 205
Value of 'b' after swap = 10